= form_for @poster do |f|
  - if @poster.errors.any?
    #error_explanation
      h2 = "#{pluralize(@poster.errors.count, "error")} prohibited this poster from being saved:"
      ul
        - @poster.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :created_at
    = f.date_select :created_at
  .actions = f.submit 'Save'
