.footer__logo
  -# %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
%ul.nav__list
  %li
    %a.nav__link{href: "/"} Jen Harley &copy; 2014 &nbsp;&nbsp;|
  %li
    %a.nav__link{href: "/"} Home
  %li
    %a.nav__link{href: "/posters"} Posters
  %li
    %a.nav__link{href: "/work"} Work
  %li
    %a.nav__link{href: "/about"} About
  %li
    %a.nav__link{href: "/store"} Store
  %li
    %a.nav__link{href: "/contact"} Contact

.footer-social
  %ul.nav__list--secondary
    %li
      %a{href: "javascript:void(0)"}
        %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png"}/
    %li
      %a{href: "javascript:void(0)"}
        %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png"}/
    %li
      %a{href: "javascript:void(0)"}
        %img{alt: "", src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png"}/
