// Typography
$sans-serif: 'Open Sans', $font-stack-helvetica;
$serif: 'Merriweather', $font-stack-georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

$medium-screen-up: 800px;
$large-screen: 1200px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$base-font-size: 1em;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: 1.2;
$heading-line-height: 1.2;
$base-border-radius: em(3);

// Colors
$white: #fff;
$blue: #477dca;
$dark-gray: #333;
$dark-gray-bg: #242122;
$medium-gray: #999;
$light-gray: #ddd;
$green: #55b59f;
$light-red: #fbe3e4;
$light-yellow: #fff6bf;
$light-green: #e6efc2;

// Background Color
$base-background-color: $white;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Link Colors
$base-link-color: $action-color;
$hover-link-color: darken($action-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $action-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
