.about {
  padding-top: em(100);
  text-align: center;

  p {
    margin: 0 auto;
    max-width: em(540);
    padding: 0 em(20);
  }
}

.about-arrow {
  padding-top: em(80);
}

.about-image {
  border: em(4) solid $white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  display: block;
  margin: auto;
  width: em(160);
}

.about-heading {
  padding: rem(48) 0 rem(16);
}
