.auth {
  margin: 0 auto;
  max-width: em(480);
  padding-top: em(56);

  &-heading {
    margin-bottom: em(18);
    text-align: center;
  }

  &-input {
    display: block;
    margin-bottom: em(24);
    padding: em(6);
    width: 100%;
  }

  &-forgot {
    float: right;
    margin-top: em(-32);
  }
}
