.blog-articles {
  @include row;
  padding-bottom: 64px;
  text-align: center;
}

.blog-article {
  padding: 24px;

  @include media($large-screen) {
    @include span-columns(5);
    @include shift(3.5);
    padding: 24px 0;
  }

  a {
    color: $white;

    &:hover {
      .blog-article-title {
        text-decoration: underline;
      }
    }
  }

  &-date {
    color: tint($dark-gray, 55%);
    font-size: 13px;
    letter-spacing: 1px;
    padding-top: 8px;
    text-transform: uppercase;
  }
}
