.contact {
  @include row;
  padding: 48px 0;

  &-form {
    padding: 0 24px;
    padding-bottom: 100px;

    @include media($large-screen) {
      @include span-columns(4);
      @include shift(4);
      padding-left: 0;
      padding-right: 0;
    }

    form {
      background: none;
    }
  }

  &-back {
    padding: 48px 0 8px;
    text-align: center;

    a {
      display: inline-block;
      margin: 0 auto;
      text-decoration: underline;
    }
  }

  &-header {
    padding: 48px 0 8px;
    text-align: center;
  }

  p {
    margin: 0 auto;
    max-width: 480px;
    padding-bottom: 32px;
    text-align: center;
  }
}
