.nav--centered {
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: $dark-gray-bg;
  $centered-navigation-color: transparentize($white, 0.1);
  $centered-navigation-color-hover: $white;
  $centered-navigation-height: rem(60);
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;
  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  height: $centered-navigation-height;
  position: relative;
  width: 100%;
  z-index: 99;
  // Mobile view

  .nav__logo--mobile {
    display: inline;
    float: left;
    height: em(60);

    @include media($horizontal-bar-mode) {
      display: none;
    }

    svg {
      height: $centered-navigation-height;
      padding: 0.8em 0;
      width: $centered-navigation-height;
    }
  }

  .nav__menu-button {
    border: 1px solid $white;
    border-radius: $base-border-radius;
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-size: em(13);
    margin: em(9, 13) em(9, 13) 0 0;
    padding: 0.75em 1.5em;
    text-transform: uppercase;

    @include media($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu
  .nav__wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 98;
  }

  .nav__list {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    z-index: 100;

    @include media($horizontal-bar-mode) {
      display: block;
      text-align: center;
      top: -2.8em;
    }
  }

  // The nav items
  .nav__list-item {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding: 0 ($centered-navigation-submenu-padding / 2);
    text-align: center;
    width: 100%;
    z-index: 99;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;
      text-align: right;

      a {
        min-width: em(100);
        text-align: center;
      }
    }

    a {
      color: $centered-navigation-color;
      display: inline-block;
      font-size: em(13);
      letter-spacing: 1.25px;
      text-transform: uppercase;

      &:hover {
        color: $centered-navigation-color-hover;
      }
    }
  }

  .nav__logo {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }

    svg {
      background: $centered-navigation-background;
      border-radius: 50%;
      height: em(99);
      padding: em(5);
      position: relative;
      top: em(68);
    }
  }
}
