.spinner {
  @include position(fixed, 0px 0px 0px 0px);
  background: #fff;
  text-align: center;
  z-index: 97;

  &.hidden {
    animation: fadeOut 1900ms forwards;
  }

  video {
    margin-left: em(-30);
    position: absolute;
    top: 50%;
  }
}

@keyframes fadeOut {
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
