.spinner {
  @include position(fixed, 0px 0px 0px 0px);
  background: #fff;
  text-align: center;
  z-index: 97;

  &.hidden {
    animation: fadeOut 1900ms forwards;
  }

  video {
    margin-left: -30px;
    position: absolute;
    top: 50%;
  }

  video::-webkit-media-controls {
    display: none !important;
  }
}

@keyframes fadeOut {
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
