.poster
  +outer-container
  +row($direction: RTL)
  padding: 100px 0

.poster-image
  padding: 10px

  +media($large-screen)
    +span-columns(8)
    float: left
    margin-left: 8.5298%
    margin-right: 0
    padding: 0

.poster-information
  +media($large-screen)
    +span-columns(3)
    padding: 10px 0 0

.poster-date
  color: tint(black, 57)
  font-family: $serif
  font-size: em(15)
  padding: em(8, 15) 0 0

.poster-nav
  +row($direction: LTR)
  margin-top: em(36)
  padding: 0 em(10)

  +media($large-screen)
    padding: 0

  li
    +span-columns(6)
    list-style: none

    &:last-child
      text-align: right

.poster-social
  +row
  padding: 0 em(10)

  +media($large-screen)
    padding: 0

  li
    +span-columns(3)
    list-style: none
    a
      +hide-text
      background-size: em(32)
      display: block
      height: em(36)
      width: 100%

  [social-twitter]
    background: #54abed image_url('twitter-icon.svg') no-repeat center

  [social-facebook]
    background: #304ea8 image_url('facebook-square-icon.svg') no-repeat center

  [social-pinterest]
    background: #bf1b1b image_url('pinterest-icon.svg') no-repeat center

  [social-reddit]
    background: #93c1f0 image_url('reddit-icon.svg') no-repeat center
