.poster
  +outer-container
  +row($direction: RTL)
  padding: 100px 0

.poster-image
  padding: 10px

  +media($large-screen)
    +span-columns(9)
    padding: 10px 0 0

.poster-information
  +media($large-screen)
    +span-columns(3)
    padding: 10px 0 0
