.sky-label {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  textarea {
    background: $light-gray;
    border: 0;
    box-shadow: none;
    padding: em(26) 0 em(16) em(20);
  }

  label {
    background: transparent;
    color: shade($medium-gray, 20);
    left: em(20);
    padding: 0;
    top: em(19);
    transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  &-focused,
  &-has-text {
    label {
      background: transparent;
      color: $medium-gray;
      font-size: em(12);
      left: rem(20);
      opacity: 1;
      top: rem(9);
    }
  }
}
