.poster-thumbs {
  @include outer-container;
}

.poster-thumb-overlay {
  @include transition(all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1));
  background-color: rgba(#000, 0.3);
  bottom: em(-40);
  left: 0;
  opacity: 0;
  padding: em(8) 0 em(8) em(12);
  position: absolute;
  right: 0;
}

.poster-thumb {
  float: left;
  width: 100%;

  @include media($medium-screen-up) {
    padding: 1%;
    width: (100% / 3);
  }

  &:hover .poster-thumb-overlay {
    bottom: 0;
    opacity: 1;
  }

  &-title {
    font-size: em(19);
  }

  a {
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;

    &:hover img {
      @include filter(grayscale(0%));
    }
  }

  img {
    @include filter(grayscale(100%));
    @include transition(all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1));
    display: block;
  }
}
