.poster-thumbs
  +outer-container()

.poster-thumb-overlay
  +transition(all 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.00))
  background-color: rgba(black, 0.3)
  bottom: em(-40)
  left: 0
  opacity: 0
  padding: em(8) 0 em(8) em(12)
  position: absolute
  right: 0

.poster-thumb
  &:hover .poster-thumb-overlay
    bottom: 0
    opacity: 1

.poster-thumbs
  +outer-container()

.poster-thumb
  float: left
  width: 100%

  +media($medium-screen-up)
    padding: 1%
    width: (100% / 3)

  &-title
    font-size: em(19)

  a
    color: white
    display: block
    overflow: hidden
    position: relative

    &:hover img
      +filter(grayscale(0%))

  img
    +filter(grayscale(100%))
    +transition(all 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000))
    display: block
