404

.card-list
  %h2 Recent Posters
  %ol.poster-thumbs
    %li.poster-thumb{ "ng-repeat" => "poster in posters | orderBy: '-id' | limitTo: 9" }
      %a(href="/posters/{{ poster.slug }}")
        %img.poster-thumb-img(ng-src="{{ image_url_prefix }}{{ poster.image_url }}" alt="{{ poster.name }}" ng-if="!$last")
        %img.poster-thumb-img(ng-src="{{ image_url_prefix }}{{ poster.image_url }}" alt="{{ poster.name }}" ng-if="$last" imageonload="")
        .poster-thumb-overlay.animated
          %h3.poster-thumb-title
            {{ poster.name }}
          %p.poster-thumb-linktext
            View poster
